{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}アカウント{% endblock title %}
{% block mainclass %}home-account menu{% endblock mainclass %}
{% block excss %}
<link rel="stylesheet" href="{% static 'css/home-account.css' %}">
{% endblock excss %}
{% block exjs %}{% endblock exjs %}
{% block content %}
<h2>アカウント</h2>
<div class="card">
    <p class="username">{{ user.username }}</p>

    <ul>
        <li><a href="{% url "accounts:profile_edit" %}">プロフィール編集</a></li>
        <li><a href="#">アカウント設定</a></li>
        <li><a href="#">アカウント設定</a></li>
    </ul>

    {% if user.is_staff %}
        <ul>
            <li><a href="{% url "adminmenu:menu" %}">管理者メニュー</a></li>
            <li><a href="{% url "admin:index" %}">Django 管理サイト</a></li>
        </ul>
    {% endif %}
<form action="{% url "accounts:logout" %}" method="POST">
    {% csrf_token %}
    <button class="danger txtbtn">ログアウト</button>
</form>
</div>
{% endblock content %}
