{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}ホーム{% endblock title %}
{% block mainclass %}home{% endblock mainclass %}
{% block excss %}
    <link rel="stylesheet" href="{% static 'css/home-home.css' %}">
{% endblock excss %}
{% block exjs %}
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/barcodes/JsBarcode.code128.min.js"></script>
<script id="generate-token-url" type="application/json">{% url 'qr_token:generate_token_api' %}</script>
<script>
    const userId = "{{ user.id }}";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.js"></script>
<script src="{% static "js/home-home.js" %}"></script>
{% endblock exjs %}
{% block content %}
    <div class="card">
        <img id="barcode"/>
        <div id="qrcode"></div>
    </div>
    <div class="bar">
        残高<p class="balance"><span>{{user.balance | intcomma }}</span>円</p>
        <button>更新</button>
    </div>

    <section class="transactions">
        <h1 class="title">最近の取引</h1>
        <ul>
            <li><a href="#">テスト</a></li>
            <li><a href="#">テスト</a></li>
            <li><a href="#">テスト</a></li>
            <li><a href="#">すべての取引</a></li>
        </ul>
    </section>

{% endblock content %}