{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block mainclass %}home-account{% endblock mainclass %}
{% block excss %}
<link rel="stylesheet" href="{% static 'css/home-account.css' %}">
{% endblock excss %}
{% block exjs %}{% endblock exjs %}
{% block content %}

<div class="card">
    <p class="username">{{ user.username }}</p>

    <ul>
        <li><a href="{% url "accounts:profile_edit" %}">プロフィール編集</a></li>
        <li><a href="#">アカウント設定</a></li>
        <li><a href="#">アカウント設定</a></li>
    </ul>
    <ul>
        <li><a href="#">アカウント設定</a></li>
        <li><a href="#">アカウント設定</a></li>
        <li><a href="#">アカウント設定</a></li>
        <li><a href="#">アカウント設定</a></li>
    </ul>
<form action="{% url "accounts:logout" %}" method="POST">
    {% csrf_token %}
    <button class="danger txtbtn">ログアウト</button>
</form>
</div>
{% endblock content %}
