{% extends 'form-base.html' %}

{% block title %}ログイン{% endblock title %}
{% block excss %}
{% endblock excss %}
{% block exjs %}{% endblock exjs %}
{% block mainclass %}passwordless_login{% endblock mainclass %}
{% block content %}
<h2>ログイン</h2>

<div class="card">
    <form method="post">
        {% csrf_token %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <p>エラー</p>
                    <li class="message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% for field in form %}
            <div class="fieldWrapper">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">ログイン</button>
    </form>
    <p class="txtbtn">
        <a href="{% url 'accounts:signup' %}">新規アカウント作成はこちら</a>
    </p>
</div>
{% endblock %}