{% extends "base.html" %}
{% load static %}
{% block mainclass %}profile_edit{% endblock mainclass %}
{% block excss %}
<link rel="stylesheet" href="{% static 'css/accounts-profile_edit.css' %}">
{% endblock excss %}
{% block exjs %}{% endblock exjs %}
{% block content %}
<div class="back-btn"><i class="fa-solid fa-arrow-left"></i></div>
  <h2>プロフィール編集</h2>
  <div class="card">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">更新</button>
    </form>

    <a href="{% url 'home:account' %}" class="txtbtn">プロフィールへ戻る</a>
  </div>
{% endblock %}
