{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | アプリ名</title>
    <link rel="stylesheet" href="{% static 'css/destyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block excss %}
    {% endblock excss %}
</head>
<body>
    <main class="{% block mainclass %}{% endblock mainclass %}">
    {% block content %}
    {% endblock %}
    </main>
    <div class="bottombar">
        <div class="bottombar-inner">
            <nav>
                <ul>
                    <li class="home-item">
                        <a href="{% url 'home:index' %}">
                        <i class="fa-solid fa-house"></i>
                        ホーム
                        </a>
                    </li>
                    <li class="account-item">
                        <a href="{% url 'home:account' %}">
                        <i class="fa-solid fa-user"></i>
                        {% if user.is_authenticated %}
                            アカウント
                        {% else %}
                            ログイン
                        {% endif %}
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/ec27cb450f.js" crossorigin="anonymous"></script>
    {% block exjs %}

    {% endblock exjs %}
    </body>
</html>
