{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | アプリ名</title>
    <link rel="stylesheet" href="{% static 'css/destyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    {% block excss %}
    {% endblock excss %}
</head>
<body>
    <main class="form {% block mainclass %}{% endblock mainclass %}">
    {% block content %}
    {% endblock %}
    </main>
    <script src="https://kit.fontawesome.com/ec27cb450f.js" crossorigin="anonymous"></script>
    {% block exjs %}

    {% endblock exjs %}
</body>
</html>
