$theme_color: #e65151;
$RED_50: #FFEBEE;
$RED_100: #FFCDD2;
$RED_200: #EF9A9A;
$RED_300: #E57373;
$RED_400: #EF5350;
$RED_500: #F44336;
$RED_600: #E53935;
$RED_700: #D32F2F;
$RED_800: #C62828;
$RED_900: #B71C1C;
$RED_A100: #FF8A80;
$RED_A200: #FF5252;
$RED_A400: #FF1744;
$RED_A700: #D50000;