$theme_color: #e65151;
$RED_50: #FFEBEE;
$RED_100: #FFCDD2;
$RED_200: #EF9A9A;
$RED_300: #E57373;
$RED_400: #EF5350;
$RED_500: #F44336;
$RED_600: #E53935;
$RED_700: #D32F2F;
$RED_800: #C62828;
$RED_900: #B71C1C;
$RED_A100: #FF8A80;
$RED_A200: #FF5252;
$RED_A400: #FF1744;
$RED_A700: #D50000;

$BLUE_50: #E3F2FD;
$BLUE_100: #BBDEFB;
$BLUE_200: #90CAF9;
$BLUE_300: #64B5F6;
$BLUE_400: #42A5F5;
$BLUE_500: #2196F3;
$BLUE_600: #1E88E5;
$BLUE_700: #1976D2;
$BLUE_800: #1565C0;
$BLUE_900: #0D47A1;
$BLUE_A100: #82B1FF;
$BLUE_A200: #448AFF;
$BLUE_A400: #2979FF;
$BLUE_A700: #2962FF;

$GREEN_50: #E8F5E9;
$GREEN_100: #C8E6C9;
$GREEN_200: #A5D6A7;
$GREEN_300: #81C784;
$GREEN_400: #66BB6A;
$GREEN_500: #4CAF50;
$GREEN_600: #43A047;
$GREEN_700: #388E3C;
$GREEN_800: #2E7D32;
$GREEN_900: #1B5E20;
$GREEN_A100: #B9F6CA;
$GREEN_A200: #69F0AE;
$GREEN_A400: #00E676;
$GREEN_A700: #00C853;

$GRAY_50: #FAFAFA;
$GRAY_100: #F5F5F5;
$GRAY_200: #EEEEEE;
$GRAY_300: #E0E0E0;
$GRAY_400: #BDBDBD;
$GRAY_500: #9E9E9E;
$GRAY_600: #757575;
$GRAY_700: #616161;
$GRAY_800: #424242;
$GRAY_900: #212121;