.profile_edit {

    .txtbtn {
        text-align: center;
        display: block;
        margin: 20px auto;
        transition: all .25s;

        &:hover {
            background-color: #00000011;
        }
    }
}