.home-account {
    padding-top: 5vh;
    background-color: #e65151;
    min-height: 100vh;

    .card {
        background-color: #fff;
        padding: 15px;
        border-radius: 15px 15px 0 0;
        min-height: 95vh;

        .username {
            text-align: center;
            font-size: 1.5rem;
            margin: 15px auto;
            color: #333;
            font-weight: bold;
        }


        .txtbtn {
            text-align: center;
            display: block;
            width: 100%;
        }


        ul {
            margin: 7vh auto;

            li {
                border: #1414142d solid 1px;
                border-bottom: none;
                padding: 15px;
                text-align: center;
                color: #333;

                &:first-child {
                    border-radius: 10px 10px 0 0;
                }

                &:last-child {
                    border-radius: 0 0 10px 10px;
                    border: #1414142d solid 1px;
                }
            }
        }
    }
}