@import '_variables';

.bottombar {

    .bottombar-inner {
        ul {
            .account-item {
                color: $theme_color;
                ;
            }
        }
    }
}

.home-account {
    .card {
        .username {
            text-align: center;
            font-size: 1.5rem;
            margin: 15px auto;
            color: #333;
            font-weight: bold;
        }


        .txtbtn {
            text-align: center;
            display: block;
            margin: 0 auto;
            transition: all .25s;

            &:hover {
                background-color: #00000011;
            }
        }
    }
}