.bottombar {

    .bottombar-inner {
        ul {
            .account-item {
                color: #e65151;
            }
        }
    }
}

.home-account {
    padding-top: 5vh;
    background-color: #e65151;
    min-height: 100vh;

    .card {
        background-color: #efefef;
        padding: 15px;
        border-radius: 15px 15px 0 0;
        min-height: 95vh;
        max-width: 800px;
        margin: 0 auto;

        .username {
            text-align: center;
            font-size: 1.5rem;
            margin: 15px auto;
            color: #333;
            font-weight: bold;
        }


        .txtbtn {
            text-align: center;
            display: block;
            margin: 0 auto;
            transition: all .25s;

            &:hover {
                background-color: #00000011;
            }
        }


        ul {
            margin: 5vh auto;

            li {
                margin: 3px 0;
                text-align: center;
                color: #333;
                background-color: #fff;
                border-radius: 0;
                transition: all .25s;

                &:hover {
                    background-color: #00000011;
                }

                a {
                    padding: 15px;
                    display: block;
                    width: 100%;
                }

                &:first-of-type {
                    border-radius: 10px 10px 0 0;
                }

                &:last-of-type {
                    border-radius: 0 0 10px 10px;
                }

            }
        }
    }
}